.cast__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 25px;
  border-bottom: 1px solid #233a50;
}

.cast__title .left {
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  width: 60%;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.cast__title .right {
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  width: 40%;
  text-align: left;
  font-size: 14px;
  margin-bottom: 10px;
}
