.user__review {
  border-bottom: 1px solid #233a50;
  padding: 20px 20px 20px 0;
}

.user__review .user__info {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: inherit;
}

.user__review .user__info img {
  margin-right: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 42px;
  height: 42px;
  max-width: 100%;
  vertical-align: middle;
}

.user__info .review__date {
  font-family: 'Nunito', sans-serif;
  font-size: 12px !important;
  color: #abb7c4;
  font-weight: 300;
  text-transform: none;
}

.review__date span {
  color: red;
}
